<h1>My Posts</h1>

<%= link_to 'Posts', posts_path %> 
<table>
  <thead>
  <td>Title</td>
  <td>Content</td>
  <td>Category</td>
  <td>Address</td>
  <td>Action</td>
  </thead>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.categories.pluck(:name).join(',') %></td>
      <td><%= post.address %></td>
      <td>
        <%= link_to 'Show', post_path(post) %>
        <%= link_to 'Edit', edit_post_path(post) if user_signed_in? && post.user == current_user %>
        <%= button_to 'Delete', post_path(post), method: :delete if user_signed_in? && post.user == current_user %>
      </td>
    </tr>
  <% end %>
</table>