<h1>Show post id: <%= @post.id %></h1>

<%= link_to 'Posts', posts_path %>
<ul>
  <li><strong>Title:</strong> <%= @post.title %></li>
  <li><strong>Content:</strong> <%= @post.content %></li>
  <li><strong>User email:</strong> <%= @post.user&.email %></li>
  <li><strong>Address:</strong> <%= @post.address %></li>
</ul>
<%= link_to 'Comments', post_comments_path(@post) %>