<h1>Show post id: <%= @post.id %></h1>

<%= link_to 'Posts', posts_path %>
<ul>
  <li>Title: <%= @post.title %></li>
  <li>Content: <%= @post.content %></li>
  <li>User email: <%= @post.user&.email %></li>
  <li>Address: <%= @post.address %></li>

</ul>