<h1>show category id: <%= @category.id %></h1>

<%= link_to 'Category', categories_path %>
<ul>
  <li><%= @post.title %></li>
  <li><%= @post.content %></li>
  <li><%= @post.address %></li>
</ul>

<% @category.each do |category| %>
  <li>
    <%= category.content %>(<%= category.created_at %>)
    <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
    <%= button_to 'Delete', post_comment_path(@post, comment), method: :delete %>
  </li>